*{
    margin: 0 auto;
}
.block{
    width: 900px;
    background-color: lightgray;
}
h1{
    color: green;
    font-size: 60px;
}
h3{
    font-size: 25px;
}
.hide{
    height: 0;
    visibility: hidden;
}
.show{
    visibility: visible;
}
ol>li{
    font-size: 24px;
    font-family: cursive;
}
ol>li:hover{
    color: red;
}
ol>li>a:hover{
    color: green;
}
ul>li>a{
    font-size: 22px;
    font-family: cursive;
}
ul>li>a:hover{
    color: green;
}