h1{
    color: green;
}
.hide{
    height: 0;
    visibility: hidden;
}
.show{
    visibility: visible;
}
ol>li{
    font-size: 20px;
    font-family: cursive;
}
ol>li:hover{
    color: red;
}
ol>li>a:hover{
    color: red;
}
ul>li>a{
    font-size: 20px;
    font-family: cursive;
}
ul>li>a:hover{
    color: green;
}