body{
	margin: 0;
	background: url("art1_b.jpg");
	background-attachment: fixed;
	background-size: 100%;
}

header{
	position: fixed;
	top:0;
	display: flex;
	flex-direction: row;
	width: 100%;
	min-height: 11vh;
	background-size: 100%;
	color:white;
	justify-content: center;
	align-items: center;
	background: url("art1_b.jpg");
	background-attachment: fixed;
	background-size: 100%;
}
#nav_btn{
	display: flex;
	flex-direction: row;
	margin-left:4%;	
	text-decoration:none;
	color:white;
	font-family: 'Roboto', sans-serif;
	font-size: 25px
}
nav{display: flex;
	min-width: 40%;
	min-height: 11vh;
	align-items: center;
	justify-content: space-around;
}

#nav_btn:hover{
	color:whitesmoke;
}
main{	font-family: 'Roboto', sans-serif;
	color:white;
	margin-top: 11vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;	
}
#gallery{
	width: 92%; 
	display: grid;
	grid-template-columns: 22% 22% 22% 22%;
	grid-template-rows: 30vh 30vh;
	grid-column-gap:2%;
	grid-row-gap: 10%; 
	margin-left:6%;
}
#g_img{
	width: 100%;
	height: 100%;
	transition: 0.5s;
}
#g_img:hover{transform:scale(1.2);}
footer{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40vh;
	color:white;
	background-size:100%;
	font-size: 20px;
}
a{
	text-decoration: none;
	color:white;
}	
		