<div class="cart">
    <h1 class="text-center">My cart</h1>
    <h3 class="text-center">({{$root.cart.length}}) products in cart</h3>
    
    <div class="d-flex flex-wrap justify-content-around mt-5">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Count</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(product, idx) in $root.orderedProducts">
            <th scope="row">{{ idx + 1 }}</th>
            <td class="text-center">
              <img :src="product.url" height="120">
            </td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.count}}</td>
            <td>
              <button class="btn btn-sm btn-danger">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>