<div class="home">
    <div class="home_header d-flex justify-content-center align-items-center">
        <div class="text-center">
            <h1 class="text-center">EnterShoop</h1>
            <p>Make your orders in minutes</p>
        </div>
    </div> 
    <div>
        <h1>Home products</h1>
        {{ products?.length }}
        <card 
            v-if="products?.length > 0"
            v-for="product in products"
            :product="product"
            :key='product.id'
        ></card>
    </div>
</div> 