body{background: blue; color:white; font-family: cursive; margin:0; padding: 0 30px;}
input{padding: 5px;}

input:invalid{background: #ff2e2e;}
input:valid{background: #1df000;}
input:focus{
	border:3px solid lime; 
	border-radius: 4px;}

header{background-image: radial-gradient(ellipse,#2A308B,#000 62%)!important;padding: 10px;}
.button1,.button2{margin-left: 10px;text-decoration: none;}
.button1:hover,.button2:hover{color:red;}
.button2{margin-left: 10px;}
input[type=submit]{
	padding: 12px; 
	color:white;
	font-family:cursive;
	background: linear-gradient(to right,purple,red);
	border:none;}
	
input[type=submit]:hover{
	background: linear-gradient(to right,red,purple);
}
