<<<<<<< HEAD
.card{
    width: 24rem;
    padding: 1rem;
}
.card p{
    font-size: 20px;
}
input[type="number"], input[type="color"]{
    width: 100px;
}
.card img{
    width: 50%;
    margin: 0 auto;
=======
.card{
    width: 24rem;
    padding: 1rem;
}
.card p{
    font-size: 20px;
}
input[type="number"], input[type="color"]{
    width: 100px;
}
.card img{
    width: 50%;
    margin: 0 auto;
>>>>>>> 1a82230423bbc743636ba0cf5c9673938031b904
}